# ansible managed
setuid={{ powerdns_setuid }}
setgid={{ powerdns_setgid }}
local-address = {{ ", ".join(powerdns_local_address) }}
local-ipv6 = {{ ", ".join(powerdns_local_ipv6) }}
allow-axfr-ips =  {{ ", ".join(powerdns_allow_axfr_ips) }}
allow-recursion = {{ ", ".join(powerdns_allow_recursion) }}
any-to-tcp = {{ powerdns_any_to_tcp|int }}
master = {{ powerdns_master|int }}
slave = {{ powerdns_slave|int }}
{% if powerdns_is_master %}master=yes{% endif %}
{% if powerdns_is_slave %}slave=yes{% endif %}
{% if powerdns_use_bind_backend %}
#
launch=bind
bind-config={{ powerdns_bind_config }}
bind-check-interval={{ powerdns_bind_check_interval }}
{% endif %}
#
{{ powerdns_extra_pdns_conf }}
